<div class="column">
  <div class="card">
    <div class="card-content">
      <% if customer.image.present? %>
        <div class="card-image">
          <figure class="image">
            <%= image_tag customer.image %>
          </figure>
        </div>
      <% end %>
      <p class="title">
        <% if show_link %>
          <%= link_to customer.full_name, customer %>
        <% else %>
          <%= customer.full_name%>
        <% end %>
      </p>
      <p><%= customer.phone_number %></p>
      <p><%= customer.email_address %></p>
    </div>
  </div>
</div>